/* CSS GRADIENTS https://www.w3schools.com/css/css3_gradients.asp */
body {
    background-image: linear-gradient(to right, #d3eef4ff,#f1eec8ff,#f3a46cff);
    font-family: monospace;
    letter-spacing: -1px;
    font-size: 16px;
}

/* . para class e # para id */

.picture {
    border-radius: 100%;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#gf {
    text-align: center;
}

#introduction {
font-weight: 800; 
color: rebeccapurple;
}

#favorite-color {
    color:purple;
}

ul {
    font-size: 16px;
}

li:hover {
    background-color:white;
    transition: width 200px;
}